Source: matchbox-window-manager-2
Section: libs
Priority: optional
Maintainer: Arthur Demchenkov <spinal.by@gmail.com>
Build-Depends:
 debhelper (>= 10),
 libclutter-0.8-dev,
 libgtk2.0-dev,
Standards-Version: 4.3.0

Package: libmatchbox2
Section: libs
Architecture: any
Multi-arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libclutter-0.8-0,
 libgtk2.0-0,
Description: shared library for Matchbox Project applications [runtime]
 Matchbox is a base environment for the X Window System running on non-desktop
 embedded platforms such as handhelds, set-top boxes, kiosks and anything else
 for which screen space, input mechanisms or system resources are limited.
 .
 libmatchbox provides core functionality used by several Matchbox project
 applications.
 .
 This package contains the libmatchbox runtime library.

Package: libmatchbox2-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libmatchbox2 (= ${source:Version}),
 libclutter-0.8-dev,
 libgtk2.0-dev,
Description: shared library for Matchbox Project applications [development]
 Matchbox is a base environment for the X Window System running on non-desktop
 embedded platforms such as handhelds, set-top boxes, kiosks and anything else
 for which screen space, input mechanisms or system resources are limited.
 .
 libmatchbox provides core functionality used by several Matchbox project
 applications.
 . 
 This package contains libmatchbox development files.
