#!/usr/bin/make -f
%:
	dh $@

CONFFLAGS := --enable-png-theme --with-pango \
        DEB_VERSION=$(shell dpkg-parsechangelog | sed -ne 's/^Version: //p')

ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CFLAGS += -DG_DEBUG_DISABLE
else
CFLAGS += -O0
endif

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)
